*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}
// Mixins  setup**
@mixin size($width, $height) {
height: $height;
width: $width;    
}
// Variables setup 
$popularGradient: linear-gradient(180deg, #e1c8bdab 0%, rgba(255,255,255,1) 100%);
$backgroundColor:#e1c8bdab ;
$brown:rgb(71, 44, 44);
$grey: #81817f35;
$popularShadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);

/*** INDEX DESING ***/
#imgLogo{
@include size(180px, 180px);
margin-left: 30px;
margin-top: 1px;
transition: 1s;
}
#imgLogo:hover{
@include size(184px, 184px);
}
#imgBackground{
width: 100%;
min-height: 100%;
}
/* NAV MENU */
header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-evenly ;
    font-family: 'Mate SC', serif;
}
.container-hamb{
    display: none;
}
.fa-bars{
    display: inline-block;
    font-size: 30px;
    color: rgb(79, 79, 79);
    cursor: pointer;
    margin: 0px 0px 0px 20px;
}
.first-menu{
    display: flex;
    text-decoration: none;
    li a{
        color: grey;
    }   
}
.first-menu
    li:hover{
        background-color: $grey;
        border-radius: 10px;
}
.dropdown-li:hover{
    background-color: $grey;
    width: auto;
}
.container-submenu{
    display:none;
    position:absolute;
    padding: 0;
    width: 132px;  
    text-align: center;
    li a{
        text-decoration: none;
        color: grey;
        width: 100%;
        margin: 0;
    }
}
ul li:hover > ul{
    display: block;
}

@media (max-width:1050px){
    header{
        flex-direction: column;
        position: relative;
        background: $backgroundColor;
        background: $popularGradient; 
        nav{
            width: 100%;
            transition: 4s;
        }
    }
    .container-hamb{
        display: block;
    }
    .rotate{
        transition: 0.1s;
        font-size: 34px;
        transform:rotate(90deg);
    }
    .container-submenu{
        position: relative;
        text-align: center;
        width: 100%;
    }
    .first-menu{
        display: none;
        padding: 0;
    }
    .expand{
        display: block;
        text-align: center;
    }
    .container-user{
        display: none;
    }
}
.icon{
color: $brown;
padding: 6px;
border: 0.5px solid $brown;
background-color: $grey;
border-radius: 100%;
cursor: pointer;
}
.icon:hover{
color: white;
background-color:$brown;
}
/** RECETAS DESING **/
.section-recetas{
    height: 100vh;
}
h1{
margin-top: 30px;
text-align: center;
font-family: 'Prata', serif;
font-weight: 550;
}
.contenedor__principal{
height: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
}
.recetas__opciones{
@include size(330px, 550px);
background-color: #a2d2ff81;
border-radius: 12px;
margin: 10px;
transition: 1.3s;
box-shadow: $popularShadow;
}
.recetas__informacion{
    > h2{
        color: black;
        font-family: 'Dancing Script', cursive;
        font-family: 'Prata', serif;
        text-align: center;
    }
}
.imgRecetas{
@include size(330px, 350px);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.recetas__informacion{
margin-left: 5px;
    h2{
        margin-top: 10px;
    }
}
.informacion__boton{
border: none;
@include size(100px, 40px);
background: rgba(148,187,233,1);
color: white;
font-weight: 500;
cursor: pointer;
border-radius: 13px;
box-shadow: $popularShadow;
}
.informacion__boton:hover{
background: rgb(101, 161, 230);
@include size(105px, 43px);   
}
.recetas__informacion--boton{
display: flex;
justify-content: center;
}
@media (max-width:1050px){
    .section-recetas{
        height: auto;
    }
}
/** FOOTER DESING **/
.footer__informacion{
margin-top: 40px;
display: flex;
position: absolute;
bottom: 0;
flex-wrap: wrap;
flex-direction: row;
justify-content:space-around ;
background-color: rgba(223, 213, 203, 0.404);
position: relative;
box-shadow: 12px 0 16px 0 rgba(0,0,0,0.24);
}
p {
    > i{
        margin: 2px;
    }
}
h6 {
    > i{
        margin: 1px;
    }
}
.informacion__columnas{
margin: 1px;
    h5{
        text-align: center;
    }
}
.columnas__locales{
display: flex;
flex-direction: row;
margin: auto;
}
.columnas__locales{
    > div{
        margin: 10px;
    }
}
/** Derechos de autor **/

.footer__informacion--autor {
    > p{
        height: 3px;
        background-color: white;
        text-align: center;
        font-size: small;
    }
}
/** ----------------CONTACTO----------------- **/
@import "contacto";
/** ----------------PRODUCTOS----------------- **/
@import "productos";
/** ----------------LOCALES----------------- **/
@import "locales";
/** ----------------USER LOGIN----------------- **/

.seccion__user{
@include size(100%, 100%);
margin-top:10%;
position: absolute;
display: flex;
justify-content: center;
}
@media (max-width: 1050px){
    .seccion__user{
    position: relative;
    }
}
.user__inputs{
display: flex;
flex-direction: column;
margin: 12px;
    label{
        font-weight: 500;
    }
}
.bg-user{
    height: 100vh;
}
.inputs__completar{
border: none;
padding: 10px;
border-radius: 15px;
outline: none;
}
.inputs__completar:hover{
color: white;
background-color:$brown;
}
#ingresar{
margin: 8px;
width: 95%;
padding: 20px;
font-weight: 500;
color: white;
background-color:$brown;
box-shadow:$popularShadow;
}
